@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');  

:root {
		box-sizing: border-box;
		--main-text-color: rgba(0,0,0,0.8);
		--splash-color: rgba(223, 16, 53, 0.99);
		--main-bg-color: rgba(245, 245, 245, 0.99);
		--main-nav-color: rgba(0, 62, 199, 0.99);
}

*, *::before. *::after{
	box-sizing: border-box;
}


html{
	height: 100%;
}
body {
  position: relative;
  width: 100%;
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
	margin: 0;
  padding: 0;
		background: var(--main-bg-color);
		padding-top: 75px;
	
}


